.card {
    width: 220px;
    height: 340px;
    border-radius: 12px;
    transform-style: preserve-3d;

    &.blue {
        background: linear-gradient(135deg, #09AFFF, #125575);

        .title {
            background: #039BE5;
        }
    }

    .product {
        height: 85%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        position: relative;
        transform-style: preserve-3d;

        .number {
            font-size: 80px;
            line-height: 80px;
            font-style: italic;
            opacity: 0.25;
        }

        .sneaker {
            font-size: 35px;
            line-height: 35px;
            font-style: italic;
            opacity: 0.7;
        }

        img {
            height: 280px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-35%, -45%, 0);
            pointer-events: none;
        }

        .price {
            background: rgba(355, 355, 355, 0.15);
            margin-top: auto;
            margin-left: auto;
            margin-right: -20px;
            padding: 5px 20px;
            border-radius: 99px 0 0 99px;
        }
    }

    .title {
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 0 12px 12px;
        transform-style: preserve-3d;
    }
}

.card:hover .product img {
    transform: translate3d(-50%, -40%, 80px);
}
.card:hover .product .number {
    transform: translateZ(40px);
    opacity: 1;
}
.card:hover .product .sneaker {
    transform: translateZ(40px);
    opacity: 0.85;
}
.card:hover .product .price {
    transform: translateZ(20px);
}
.card:hover .title h2 {
    transform: translateZ(20px);
}